@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}

<meta name="google-signin-client_id" content="848629137224-9te2ldhj7ertkko52at8pokn1cfur7jj.apps.googleusercontent.com">